@model DomainProduct.Entities.ProductDetail

@{
    DomainProduct.Entities.Sku SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadrao"];
    if (SKUPadrao == null)
    {
        SKUPadrao = new DomainProduct.Entities.Sku();
        SKUPadrao.Variations = new List<DomainProduct.Entities.Variation>();
    }
}


<div class="container">
    <div class="bg-title">
        <h2>
        Aproveite e compre junto
        </h2>
    </div>
        <div class="ui grid stackable horizontal">
            <div class=" five wide column">
                <div class="ui items produtos compre junto">

                    <div class="ui card produto product-in-card">
  
                        <div class="content">
                        <div class="image-container">
    
                            <div class="ui image fluid">
                                @if (@Model.ImageHome != null)
                                                    {
                                                        <img src="@Model.ImageHome" alt="@Model.Name"  onerror="imgError(this)">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Model.ProductImages.FirstOrDefault().ImageDefault" alt="@Model.Name"  onerror="imgError(this)">
                                                    }
                            </div>

                        </div>

                        <div class="content-info">

      
                            <div class="dados ui grid">
                                <div class="eight wide column">
                                    <h3>
                                        <span itemprop="name">
                                        @Model.Name
                                        </span>
                                    </h3>
                                    @if (@Model.Brand != null)
                                        {
                                            <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                                        }
                                </div>
        
                                <div class="eight wide column" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="BRL" />
          @if (Model.PricePromotion != null && Model.PricePromotion > 0)
          {
            <span id="basePrice_@Model.IdProduct" class="precoBase"> <i>@string.Format("{0:c}", Model.Price)</i> por @(Session["segment"] != null && Session["segment"].ToString() == "b2b" && Model.AvailableReferences != null ? "a partir de" : string.Empty)</span>
            <span class="preco">R$ <span itemprop="price">@string.Format("{0:n2}", Model.PricePromotion)</span></span>

          }
          else
          {
            <span id="price_@Model.IdProduct" class="preco" itemprop="price">
              <span class="precoBase">
                @(Session["segment"] != null && Session["segment"].ToString() == "b2b" && Model.AvailableReferences != null ? "a partir de" : string.Empty)
              </span>
              R$ @string.Format("{0:n2}", Model.Price)
            </span>
          }
          @if (Model.InstallmentMax != null)
          {
            <span class="parcelamento">
              ou em <span class="installmentMaxNumber">@Model.InstallmentMax.MaxNumber</span>
              x de <span class="installmentMaxValue">@string.Format("{0:c}", Model.InstallmentMax.Value)</span>
            </span>
          }

          @if (Model.Stock >= 0 && !Model.FlagExhausted)
          {
            <br /><br />
            <span class="text color grey regular parcelamento small">
              @Model.DescriptionAvailabilityStatus
            </span>
          }

          @if (!Model.FlagExhausted)
          {
            <link itemprop="availability" href="http://schema.org/InStock" content="disponível" />
          }
          else
          {
            <link itemprop="availability" href="http://schema.org/SoldOut" content="esgotado" />
          }

                                </div>
                            </div>
      
                        </div>
                    </div>

                </div>
                    
                </div>
            </div>
            <div class="seven wide column">
            

                    @foreach (var item in Model.BuyTogether)
                    {
                        string variacaoSelecionada = string.Empty;

                        if (item.SKUs != null && item.SKUs.Any())
                        {
                            var skuPadraoByTogether = item.SKUs.FirstOrDefault(m => m.Standard == true) != null ? item.SKUs.FirstOrDefault(m => m.Standard == true) : item.SKUs.FirstOrDefault(m => m.Stock > 0);
                            if (skuPadraoByTogether != null)
                            {
                                if (item.AvailableReferences != null && item.AvailableReferences.Count > 0)
                                {
                                    foreach (var referencias in item.AvailableReferences.OrderBy(o => o.OrdinationOfReferences).ToList())
                                    {
                                        foreach (var variacoes in referencias.Variations)
                                        {
                                            if (skuPadraoByTogether.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation).Count > 0)
                                            {
                                                var referencia_selecionada = skuPadraoByTogether.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation);
                                                variacaoSelecionada += referencias.IdReference.ToString() + '-' + referencia_selecionada.FirstOrDefault().IdVariation.ToString() + ',';
                                            }
                                        }
                                    }

                                    string character = variacaoSelecionada.Substring(variacaoSelecionada.Length - 1);
                                    if (character == ",")
                                    {
                                        variacaoSelecionada = variacaoSelecionada.Remove(variacaoSelecionada.Length - 1);
                                    }
                                }
                            }
                        }

                        int total_variacoes = item.AvailableReferences != null ? item.AvailableReferences.Count() : 0;
                        
                    <div class="ui grid buy-together " id="buy-together" data-id="@item.IdProduct" data-variacoes="@total_variacoes">
                        <div class="twelve wide container column ui card produto wide product-in-card item ">
                        
                            <div class="ui grid content">
                                <div class="ui image small column five wide">
                                    <a href="@(item.UrlFriendlyCustom != null ? item.UrlFriendlyCustom : item.UrlFriendly)">
                                        <img src="@item.ImageHome" alt=""  onerror="imgError(this)">
                                    </a>
                                </div>
                                <div class="content-info column ten wide content-minicard">
                                    
                                    <div class="dados">

                                        <a href="@(item.UrlFriendlyCustom != null ? item.UrlFriendlyCustom : item.UrlFriendly)" class="header">
                                        <h4 class="title">@item.Name</h4>
                                        </a>
                                        <!-- @if (@Model.Brand != null)
                                        {
                                            <span>@Model.Brand.Name</span>
                                        }
                                        else
                                        {
                                            <span></span>
                                        } -->
                                        

                                        @{
                                            decimal preco_final = item.PricePromotion != null ? Convert.ToDecimal(item.PricePromotion) : item.Price;
                                        }

                                        @if (item.AvailableReferences == null || item.AvailableReferences.Count() == 0)
                                        {
                                            <span id="@item.IdProduct-price-product-buy-together" class="preco">@preco_final.ToString("C")</span>
                                        }
                                        else
                                        {
                                        <span id="@item.IdProduct-price-product-buy-together" class="preco"></span>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                            <div class="four wide column extra">
                                <input type="hidden" value="" name="buy-together-skus" id="buy-together-skus" />

                                <button class="ui icon big toggle button compre junto primary" data-id="@item.IdProduct" data-variacoes="@total_variacoes" id="adicionar-compre-junto-@item.IdProduct">
                                    <!--<i class="plus icon"></i>-->
                                </button>
                            </div>


                            <!-- COMEÇO VARIÁVEIS PRODUTO - COMPRE JUNTO-->


                            @{
                                string ListaSKU = "";

                                if (item.SKUs != null)
                                {
                                    ListaSKU = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(item.SKUs);
                                }
                            }

                            <input type="hidden" name="@item.IdProduct-buy-together-product-id" id="@item.IdProduct-buy-together-product-id" value="@item.IdProduct" class="buy-together-product-id" />
                            <input type="hidden" name="@item.IdProduct-buy-together-sku" id="@item.IdProduct-buy-together-sku" value="" class="buy-together-sku" />
                            <input type="hidden" name="@item.IdProduct-buy-together-lista-sku" id="@item.IdProduct-buy-together-lista-sku" value="@ListaSKU" class="compre-junto-sku" />
                            <input type="hidden" name="@item.IdProduct-buy-together-preco" id="@item.IdProduct-buy-together-preco" value="@item.Price" class="compre-junto-preco" />
                            <input type="hidden" name="@item.IdProduct-buy-together-preco-promocao" id="@item.IdProduct-buy-together-preco-promocao" value="@item.PricePromotion" class="compre-junto-preco-promocao" />
                            <input type="hidden" name="@item.IdProduct-buy-together-total-variacoes" id="@item.IdProduct-buy-together-total-variacoes" value="@total_variacoes" class="compre-junto-total-varicao" />
                            <input type="hidden" name="@item.IdProduct-buy-together-referencias-selecionadas" id="@item.IdProduct-buy-together-referencias-selecionadas" value="@variacaoSelecionada" class="compre-junto-variacao-selecionada" />
                            <!-- FIM VARIÁVEIS PRODUTO - COMPRE JUNTO-->

                        
                    </div>
                }
                
            </div>
            <div class="four wide column compre junto">
                <div class="ui sticky comprar junto">
                    <table class="ui green table">
                        <thead>
                            <tr class="text center">
                                <th>Produtos Selecionados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.HaveSku)
                                {
                                    if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                    {
                                        <td class="text center old-price"><span id="compre-junto-total">@SKUPadrao.PricePromotion.Value.ToString("C")</span></td>
                                    }
                                    else
                                    {
                                        <td class="text center old-price"><span id="compre-junto-total">@SKUPadrao.Price.ToString("C")</span></td>
                                    }
                                }
                                else
                                {
                                    if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                    {
                                        <td class="text center old-price">Preço Total: <span id="compre-junto-total">@Model.PricePromotion.Value.ToString("C")</span></td>
                                    }
                                    else
                                    {
                                        <td class="text center old-price">Preço Total: <span id="compre-junto-total">@Model.Price.ToString("C")</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td class="text center">
                                    @if (Model.HaveSku)
                                    {
                                        if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                        {
                                            <strong><span id="compre-junto-total-final">@SKUPadrao.PricePromotion.Value.ToString("C")</span></strong>
                                        }
                                        else
                                        {
                                            <strong><span id="compre-junto-total-final">@SKUPadrao.Price.ToString("C")</span></strong>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                        {
                                            <strong><span id="compre-junto-total-final">@Model.PricePromotion.Value.ToString("C")</span></strong>
                                        }
                                        else
                                        {
                                            <strong><span id="compre-junto-total-final">@Model.Price.ToString("C")</span></strong>
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @if (Model.HaveSku)
                    {
                        if (SKUPadrao.Stock > 0)
                        {
                            <a href="" class="ui button action fluid buy-together text uppercase" id="btn_comprejunto" onclick="return false">
                                <div class="visible content">
                                <i class="icon shopping bag"></i>
                                Comprar
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="" class="ui button action fluid buy-together disabled text uppercase" id="btn_comprejunto" onclick="return false">
                                <div class="visible content">
                                <i class="icon shopping bag"></i>
                                Comprar
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        if (Model.Stock > 0)
                        {
                            <a href="" class="ui button action fluid buy-together text uppercase" id="btn_comprejunto" onclick="return false">
                                <div class="visible content">
                                <i class="icon shopping bag"></i>
                                Comprar
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="" class="ui button action fluid buy-together disabled text uppercase" id="btn_comprejunto" onclick="return false">
                                <div class="visible content">
                                <i class="icon shopping bag"></i>
                                Comprar
                                </div>
                            </a>
                        }
                    }
                    <div class="desconto text center">
                        Economize <span id="compre-junto-desconto">R$ 0,00</span>
                    </div>

                </div>
            </div>
        </div>
</div>

<script>

</script>
