@{
  string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
  string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<header class="_header">
  <div class="head-menu">
  <div class="container">
    <div class="ui text menu">
      <a class="item" href="#" title="Pinterest">
        <i class="icon-tanto-pinterest"></i> 
      </a>
      <a class="item" href="#" title="Facebook">
        <i class="icon-tanto-facebook"></i> 
      </a>
      <a class="item" href="#" title="Instagram">
        <i class="icon-tanto-intagram"></i> 
      </a>
      <a class="item" href="#" title="Youtube">
        <i class="icon-tanto-youtube"></i> 
      </a>
      <a class="item" href="#" title="Youtube">
        <i class="icon-tanto-whatsapp"></i> 
      </a>
      
      <div class="right menu">
        <div class="ui item">
          <strong>Televendas:</strong>  21 3333-9090
        </div>
        <div class="ui item">
          <i class="icon-tanto-whatsapp"></i> 21 99889-9090
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="ui text menu">
      <a class="item" href="/Home" title="Página Inicial">
        <img class="ui middle aligned image logo" src="/assets/image/logo/logo-tanto.svg" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
      </a>
      <div class="right menu searchform-menu">
          <div class="ui searchcolumn item category @_classSearch">
            <div class="ui icon input fluid">
              <input class="prompt" type="text" placeholder="Buscar...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
      </div>
    
      <div class="right menu">
        <div class="ui item computer only login-user" >
            <a href="/customer" title="Area do Cliente">
              <i class="icon-tanto-user"></i>               
            </a>
        </div>        
        <div class="ui item carrinho-compras">
                  <div id="cartButton" class="ui labeled cartbutton @_classMiniCart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                    <div class="cart-button">
                      <span class="ui left primary label" id="total_itens_card">
                        @{
                          if (Session["EventList"] == null)
                          {
                            @Html.Action("TotalItensCart", "Checkout")
                          }
                          else
                          {
                            @Html.Action("TotalItensList", "EventList")
                          }
                        }
                      </span>
                      <i class="icon-tanto-bag"></i>    
                    </div>                
                  </div>
        </div>
      </div>
    </div>

    </div>
    <!-- ~/Views/Shared/Common/_Menu.cshtml -->
             @Html.Action("Menu", "Home")
  </header>


